/*Title.tsx*/
.title-layout {
    width: 25%;
    margin: 0 auto;
}

.title-ribbon {
    position: sticky;
    background-color: gray;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 10;
}

.title-ribbon > button {
    position: absolute;
    width: 75px;
    height: 50px
}

.title-search {
    text-align: center;
}

#title-menu {
    top: 20px;
    left: 10px;
}

#title-login {
    right: 10px;
    top: 20px;
}

form {
    display: inline;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}
h5 {
    margin-left: 110px;
}

input {
    width: 66%;
}
/*Chips.tsx*/
.chips-layout {
    position: sticky;
    background-color: lightblue;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 1;
    margin: auto 0;
    overflow-x: scroll;
    white-space: nowrap;

}
.chip {
    display: inline;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
}

/*Card.tsx*/
article {
    position: relative;
    top: 50px;
    width: 550px;
    max-height: 300px;
    margin: 10px auto;
    border: black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
}

article button {
    position: relative;
    left: 5px;
    bottom: 0px;
    margin: 5px;
}

article div img {
    float: left;
    width: 100px;
    height: 100px;
}

article div {
    width: 525px;
    margin: 0 auto;
}

article p {
    position: relative;
    clear:left;
    top: 0px;
}

h4 {
    position: relative;
    top: 0px;
    left: 5px;
    width: 90%;

}
/*HistoryCard.tsx*/
.history-card-container {
    
}
/*SideBar.tsx*/
aside {
    position: fixed;
    overflow: hidden;
    top: 100px;
    left: 0;
    width: 0;
    height: 100%;
    transition: 1s;
    z-index: 1;
}
ul {
    padding: 0;
}
h3 {
    text-align: center;
}

ul li {
    text-align: center;
    transition: 0.5s;
    overflow-x: hidden;
    padding: 20px 0px;
    list-style: none;
}

/*ActionButton.tsx*/
.button-container {
    position: fixed;
    max-width: 100%;
    height: calc(((75px) * 3) + 20px);
    right: 0;
    bottom: 0;
}

.action-button {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 75px;
    height: 75px;
}
.subMenu-buttons {
    position: relative;
    overflow: hidden;
    right: 10px;
    bottom: 0px;
    width: 75px;
    height: 0px;
    margin-left: auto;
    transition: bottom;
}

.subMenu-buttons button {
    width: 75px;
    height: 75px;
}
.subMenu-buttons #web {
    position: absolute;
    bottom: 0;
    right: 0;
}
.subMenu-buttons #news {
    position: absolute;
    bottom: calc(75px + 10px);
    right: 0;
}
/*App.tsx*/

.loading {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
}
.loading span {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: lightsalmon;
    z-index: 3;
}
.content-container {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    height: 100%;
}
.card-container {
    position: inherit;
    max-width: inherit;
    margin: inherit;
    height: inherit;
}

@media only screen and (max-width: 768px) {
    .title-search {
        text-align: center;
    }
    .title-layout {
        width: 50%
    }
    .chips-layout {
        height: 33px;
    }
}
@media only screen and (max-width: 768px) {
article {
    width: 350px;
}

}

